<div mat-dialog-content>
  <form [formGroup]="editForm" class="pt-8">
    <mat-form-field>
      <mat-label>Position</mat-label>
      <input matInput formControlName="position" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Weight</mat-label>
      <input matInput formControlName="weight" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Symbol</mat-label>
      <input matInput formControlName="symbol" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()">Save</button>
</div>
